<div id="info">
<p>Food is one of the main contributors to climate change emissions in everyday life. It may be well known that some foods have a higher impact than others, but it is difficult to understan the differences in scale. This tool wants to help by allowing the users to play comparing different foods based on their carbon emissions.</p>

<p>The data is taken from <a href="https://pub.epsilon.slu.se/8710/1/roos_e_120413.pdf">Röös (2014) Mat klimat listan, SLU</a>. This data is based on averages of different LCA studies. This data should not be understood not as certain numbers but as a </p>

	<p>Food to Carbon is part of a research project on Quantified Self for Energy at <a href="https://www.kth.se/en/csc/forskning/mid">KTH</a>, in colllaboration with <a href="http://lnu.se/subjects/media-technology?l=en">Linnaeus University</a>, .<p/>
 		 <p>Financed by Energimyndigheten</p>
		<p>Food.Carbon.to was developed by Jorge Zapico. It is a fork of Carbon.to which was developed by <a href="http://david.kjelkerud.se" target="_blank">David Kjelkerud</a>, <a href="http://henrikberggren.com" target="_blank">Henrik Berggren</a> and <a href="http://jorge.zapi.co" target="_blank">Jorge Zapico</a> at Ecomo09.</p>

<p>Pictures are taken by: Chicken, Eggs, Potatoes, Vegetables, Airfreight, Fruit and Bread by <a href="http://jorge.zapi.co" target="_blank">Jorge Zapico</a>, 
	<a href="https://commons.wikimedia.org/wiki/File:Quorn_Stukjes_(3).jpg">Quorn (wikimedia)</a>,
	<a href="https://commons.wikimedia.org/wiki/Category:Angus_cattle#/media/File:Angus_cattle_24.jpg">Beef (wikimedia)</a>,
	<a href="https://commons.wikimedia.org/wiki/Cheese#/media/File:Manchego.jpg">Cheese (wikimedia)</a>,
	<a href="https://commons.wikimedia.org/wiki/File:Gadus_morhua-Cod-2-Atlanterhavsparken-Norway.JPG">Fish (Hans-Petter Fjeld)</a>,
	<a href="https://commons.wikimedia.org/wiki/File:Brun_ris.jpg">Rice (Wikimedia)</a>,
	<a href="https://commons.wikimedia.org/wiki/File:Roasted_coffee_beans.jpg">Coffee (Wikimedia)</a>,
	<a href="https://pixabay.com/p-763158/">Beans</a>,
	<a href="https://commons.wikimedia.org/wiki/File:Glass_of_milk.jpg">Milk (Santeri Viinamäki)</a>,
	<a href="https://commons.wikimedia.org/wiki/File:Kohlenstoffdioxid_8173.JPG">Co2(Bin im Garted)</a>,
 </p>
	

</div>